
.header {
	position: relative;
	width: max-content;
	height: 97px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;

	@include xxl {
		height: 187px;
	}

	// .header__logo
	&__logo {
		position: relative;
	}
}