
.header {
	position: relative;
	width: min-content;
	height: 97px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	@include xxl {
		height: 187px;
	}

	// .header__logo
	&__logo {}
}