.page {
	position: relative;
	// padding: var(--main-padding);
	height: 100vh;
	width: auto;
	overflow: hidden;
	background-color: #e5e5e5;

	// .page__header
	&__header {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 10;
		padding: 0 var(--main-padding);
	}

	// .page__main
	&__main {
		height: 100%;
		width: 100%;
		position: relative;
	}

	// .page__line
	&__line {
		position: absolute;
		width: 100%;
		height: 2px;
		padding: 0 var(--main-padding);
		top: 97px;
		left: 0;
		z-index: 10;
		border-radius: 107px;
		background: $grad1;

		@include xxl {
			top: 187px;
		}
	}

	// .page__popup
	&__popup {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 12;

		&_hidden {
			visibility: hidden;
			opacity: 0;
		}
	}

	// .page__social
	&__social {
		position: absolute;
		bottom: 23px;
		right: 11px;
		z-index: 10;

		@include xxl {
			flex-direction: row;
			right: 64px;
			bottom: 40px;
		}
	}

	// .page__template
	&__template {}
}
