
.social {
	display: flex;
	flex-direction: column;

	// .social__item
	&__item {
		width: 34px;
		height: 33px;
		margin-bottom: 20px;
		display: flex;
		align-items: center;
		justify-content: center;

		@include xxl {
			width: 44px;
			height: 44px;
			margin-bottom: 0;
			margin-right: 15px;
		}

		&:last-child {
			margin-bottom: 0;
			margin-right: 0;
		}

		&:hover .social__icon {
			path {
				fill: #F36A1D;
			}
		}

		&_active {
			& .social__icon {
				path {
					fill: #F36A1D;
				}
			}

		}

		// .social__icon
		&__icon {
			transition: 150ms;
		}
	}
}